<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="devUrl" value="https://e-forms.sktelecom.com:8011/normal/efmon_main.do" />
		<add key="prdUrl" value="https://e-form.sktelecom.com:8010/login/AdminLogin.do" />
	</appSettings>
</configuration>
